@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}
.poppins {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.banner {
  background-image: url("../pages/assets/images/banner.png");
}

footer {
  background-image: url("../pages/assets/images/footer_bg.png");
}

/* scroller start  */
#white_scrollbar::-webkit-scrollbar {
  width: 7px;
  border-radius: 30px;
}
#white_scrollbar::-webkit-scrollbar-track {
  background: 0 0;
  border-radius: 30px;
  width: 7px;
}
#white_scrollbar::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 7px;
  background: rgba(255, 255, 255, 1);
}
#white_scrollbar::-webkit-scrollbar-thumb:hover {
  border-radius: 30px;
  width: 7px;
  opacity: 0.4;
}
/* scroller end  */

/* scroller start  */
#scrollbar::-webkit-scrollbar {
  width: 7px;
  border-radius: 30px;
}
#scrollbar::-webkit-scrollbar-track {
  background: 0 0;
  border-radius: 30px;
  width: 7px;
}
#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 30px;
  width: 7px;
  background: rgba(255, 255, 255, 0.8);
}
#scrollbar::-webkit-scrollbar-thumb:hover {
  border-radius: 30px;
  width: 7px;
  opacity: 0.4;
}
/* scroller end  */
